* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  height: 100%;
}

.app {
  padding: 2rem;
  background-color: rgba(34, 10, 10, 0.725);
  height: 100%;
}
